@import './components/footer.scss';
@import './components/header.scss';
@import './components/colorsAndFonts.scss';

body {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background: rgba(64, 165, 120, 1);
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; 
        .container2 {
            background: rgba(165, 221, 155, 1);
    
        }
        div {
            h1 {
                color: rgba(230, 255, 148, 1);
                margin-right: 90%; 
                z-index: 1;
                display: inline;
                padding-right: 5rem;
            }
            width: 30vw;  
            height: 30vw; 
            border-radius: 50%;
            border: 3px solid rgba(230, 255, 148, 1);
          }
          .circle2 {
            h1 {
                color: rgba(230, 255, 148, 1);
                margin-right: 90%; 
                z-index: 1;
                display: inline;
                padding-right: 5rem;
            }
            width: 13vw;  
            height: 13vw; 
            border-radius: 50%;
            border: 3px solid rgba(230, 255, 148, 1);
          }
    }  
    
}
.container2 {
    background: rgba(165, 221, 155, 1);

}

// NAVBAR 
div nav {
    color: $color-dark-green;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: xx-small;
    background: rgba(165, 221, 155, 1);
;
    ul {
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            padding: 0;

            a {
                color: $color-dark-green;
                padding: 10px;
                text-decoration: none;
                display: block;

                &:hover {
                   color: $color-olive;
                }
            }
        }
    }
}
